# Trash
*/__pycache__/
**/.DS_Store
.idea/
README.*
tests

# Enviroments
venv/
.env

# Databases files
db.*

# Docker files
database/decorator.py
.github
.dockerignore

# Migration files
migrations
**.toml

# Other files
database/crud.py
example_run.py

# Git
.git
.gitignore
